[2015-07-09 08:50] dhh opened #13 "Protect against Cross-Site WebSocket Hijacking using the CRSF token"
WebSocket upgrade requests are susceptible to Cross-Site WebSocket Hijacking as detailed in https://www.christian-schneider.net/CrossSiteWebSocketHijacking.html. We need to use a similar CRSF token strategy as we do to protect the rest of a Rails application against a CRSF attack. Most likely, we can probably even use the same token, or a derivative thereof. But protect we must!

[2015-07-09 08:53] dhh opened #14 "Improve channel action dispatcher to allow mixin and inheritance actions"
Our security protection around client-side subscribers invoking actions on the server-side channel is too strict. It only allows for actions declared directly on the final channel class itself. Not methods included via mixins or ancestors in the inheritance tree. We solved the same problem in Action Controller, so let's port a version of that over here to allow all that is reasonable without openi

[2015-07-09 08:56] dhh opened #15 "Explore having a middleware that allows sharing of server processes between cable and app servers"
MessageBus has a [rack middleware](https://github.com/SamSaffron/message_bus/blob/master/lib/message_bus/rails/railtie.rb#L16) that allows you to deal with WebSocket requests inside the same server process as the rest of the application. This means not having to run two separate processes, at least if you can run your application under a threaded server like Puma.

Whether you want to do that in p

[2015-07-09 09:00] dhh opened #16 "Explore getting rid of EventMachine in favor of going all-in on Celluloid::IO"
@tarcieri and @jasonayre mentioned on Twitter that we should be able to use [Angelo](https://github.com/kenichi/angelo)/Reel over Celluloid::IO instead of relying on EventMachine. Let's explore that, do the benchmarks, and see if we can't make that happen. Would certainly be nicer to rely on a single concurrency model throughout the framework if that can be shown to work just as well (or better).

[2015-07-09 09:28] digitalextremist commented on #16
I've looked at this and seen it before in a `Slack` API gem, and all uses of the [faye-websocket](/faye/faye-websocket-ruby) ( which pulls in (websocket-driver)[/faye/websocket-driver-ruby) ).

The author @jcoglan has worked with us in making adjustments to (Reel)[/celluloid/reel] to suit `faye-*` libraries, and visa versa. Our contributors are pretty involved in `faye-*` gems too.

Over at `Cellu

[2015-07-09 09:43] jcoglan commented on #16
I emailed @lifo a while ago suggesting use of websocket-driver instead of faye-websocket. websocket-driver is where all the actual protocol logic lives, in an I/O- and concurrency-agnostic way. faye-websocket just hooks that up to EM and wraps the standard WebSocket API around it. It exists because Faye itself was always based on EM and faye-websocket was extracted from it, and then websocket-driv

[2015-07-09 09:46] jcoglan commented on #16
The only thing you might miss from faye-websocket if you drop it are the [monkeypatches](https://github.com/faye/faye-websocket-ruby/tree/master/lib/faye/adapters) it includes for various appservers to make them support raw TCP access. This will hopefully become less necessary over time as more servers support `rack.hijack`.

[2015-07-09 09:54] digitalextremist commented on #16
@jcoglan I do see `websocket-driver` is I/O agnostic, with `EventMachine` being a development dependency, probably for the tests.

@dhh it seems `EM.*` calls occur in examples, and for `Redis` support.

@tarcieri, can we use [celluloid-redis](/celluloid/celluloid-redis) to handle that? The WebSocket changes are pretty simple apart from that.

[2015-07-09 16:03] jasonayre commented on #16
@digitalextremist I don't see why not, I used celluloid-redis, in combination with reel on ATR (which relied entirely on redis pub/sub for broadcasting from the app server process to the websocket connections)
https://github.com/jasonayre/atr

[2015-07-09 16:26] digitalextremist commented on #16
@jasonayre it also powers `DCell` ... I can handle the websocket standardization in celluloid/reel#201, maybe you, @tarcieri, @niamster or @Asmod4n could handle the `celluloid-redis` refactor portion?

[2015-07-09 21:18] niamster commented on #16
@digitalextremist I'm quite busy lately, especially going to be busy this weekend. Afterwards I should be able to participate here.

[2015-07-09 21:53] digitalextremist commented on #16
@niamster understood. For now, can you just give me your opinion of what you'd prefer to support down the line: I figure the best approach here is to abstract/implement `websocket-driver` similarly to how we do with `Celluloid::ZMQ` as `Reel::WebSocket` ... With that piece in mind I will map out the functionality needed and start an extraction gem and a patch to use that gem on this issue. If you

[2015-07-09 23:20] digitalextremist commented on #16
@tarcieri I've spoken with @kenichi about this and he and I will talk more about it. For now here's the gist of what seems like a solid approach to get the most done for everyone at once:

At its heart, `Rails` like `Angelo` and like `Sinatra` is a DSL. Two of those three depend on `Rack` for their `HTTP/S` layer, but suffer in the `WS/S` area because they are not descendants of an evented concurr

[2015-07-09 23:29] tarcieri commented on #16
Seems ok?

[2015-07-09 23:31] digitalextremist commented on #16
Right on.

[2015-07-09 23:42] kenichi commented on #16
For actioncable, I think the first approach is to try to get celluloid-redis working in place of EM::Hiredis. That would be a good start and provide a solid vantage point for future actioncable work, which may or may not include Reel and/or other parts of the Celluloid world.

I tried to uncomment the tests and make them work last night; alas. I then tried to follow the readme and make a rails app

[2015-07-09 23:45] digitalextremist commented on #16
Divide and conquer? We were both typing at the same time. I am comfortable with the SSE&WS/S angle. Posted an issue above where I'll be starting in the next 24-72 hours. If I keep to the SSE&WS/S side versus Redis, I can hit much of this on the way to Reel `0.6.5`

[2015-07-10 06:52] ianks commented on #16
Surely https://github.com/ruby-concurrency/concurrent-ruby should be in the discussion here, especially since there have been discussions to use it for other parts of Rails (lock free caches, etc). Concurrent-Ruby provides an actor implementation, as well as many other concurrency abstractions.

On that note, if the decision to use an actor based concurrency model is made (which IMO is worthy of a

[2015-07-10 06:54] cristianbica commented on #14
Channel actions are pretty much like ActionController with `match :controller/:action` and that's pretty dangerous security-wise. Very easy to forget a public methods that might be called remotely. I'm proposing here that we have a way of explicitly define the action methods:
[code]
or directly
[code]
The actions list can be stored in a `class_attribute`. Mixins can declare action methods in the `

[2015-07-10 08:03] kaspth commented on #14
Personally I like the parity established between channels and regular controllers. In a standard Action Controller controller every public method is treated as an action, and I think that's fine to reuse here. This way that convention is also strengthened so people are less likely to forget it. Either way that similarity should be documented :smile:

[2015-07-10 08:59] cristianbica commented on #14
I've tried to propose the above for controllers also but did not succeed :). I really don't like this code https://github.com/rails/rails/blob/master/actionpack/lib/abstract_controller/base.rb#L68-L79 (though there 2 commits makes things a bit better: https://github.com/rails/rails/commit/21dfe89ac7175ec2a625843085a4cdd78952a187 https://github.com/rails/rails/commit/08d3f0e3b3701fa7f52615e266cad43

[2015-07-10 10:46] dhh commented on #14
I'm not a fan of having to declare every method public. The pattern set by the controllers is what I'd like to see us follow.

[2015-07-10 11:13] cristianbica commented on #14
Ok. I'll work on a PR

[2015-07-10 12:12] matthewd commented on #14
That's only still true-in-practice if you're using `:action` wildcard routes, which we strongly discourage.

Otherwise, we do actually require you to specifically identify the published/accessible actions, in `routes.rb`.

Maybe some of the same reasons we moved away from the magic `:controller/:action/:id` route apply here?

[2015-07-10 12:16] matthewd commented on #14
(cc @rails/security)

[2015-07-10 12:29] kaspth commented on #14
@matthewd Ah, right. It does require the route wiring :smile:

So you're saying channels are more vulnerable because there isn't the same "net" to catch wayfarers?

[2015-07-10 12:30] rosenfeld commented on #15
Just so that you know, I'd be interested in running this on production as we already deploy with Puma and this would simplify things on our side and would be just good enough for our application requirements... I was going to suggest this but I'm glad you created this feature request yourself :)

[2015-07-10 12:35] cristianbica commented on #14
In routes you can still add a `:controller/:action(/:id)` routes but for channels that's the behaviour by default: any public method can be called.

[2015-07-10 12:41] rosenfeld opened #21 "Feedback about the README documentation"
Sorry if this is not the proper place to give you some feedback but I didn't see any indication in the README on how one should provide feedback, so I'm trying through Github issues.

We don't use any YAML's in our deploy process. We have several environments running in the same server and we achieve that by always running the production environment and generating a single config/settings.rb file

[2015-07-10 13:14] dhh commented on #21
Be happy to take a fully injected Redis instance for both the broadcaster
and for the general pubsub.

I'll add an example around identified_by. It's indeed for finding
connections again later.

I don't use Devise, so someone else can take a look at that.

On Fri, Jul 10, 2015 at 2:41 PM, Rodrigo Rosenfeld Rosas <
notifications@github.com> wrote:

[2015-07-10 13:15] dhh commented on #14
The reason we moved away from :controller/:action was because we moved
controllers to REST. If it hadn't been for that, we would have kept it.

On Fri, Jul 10, 2015 at 2:35 PM, Cristian Bica <notifications@github.com>
wrote:

[2015-07-10 15:13] rosenfeld commented on #21
and for the general pubsub.

I'm not sure what exactly you mean by this. I was thinking about adding an `attr_writer :redis` to ActionCable::Server::Configuration. This is not really a Redis connection instance, but simply the Redis configuration hash.

I'm not even sure why we need provide a hash since it seems you expect and use only the :url part:

https://github.com/rails/actioncable/blob/mast

[2015-07-10 16:00] tarcieri commented on #16
@ianks concurrent-ruby isn't really germane to the discussion because it doesn't have evented I/O support. Don't get me wrong, I liked it and used it in [Turbine](https://github.com/tarcieri/turbine), but it has nothing to do with the problems being discussed in this thread.

[2015-07-10 19:23] niamster commented on #16
@digitalextremist I can do refactoring of `celluloid-redis`. Let's talk about it on Monday if you don't mind ..

[2015-07-10 23:35] tarcieri commented on #16
@niamster there are some issues with the existing `celluloid-redis` API (namely it defines a class named `Redis` inside the `Celluloid` module which is not a subclass or duck type of `::Redis`). It'd be great if you could address those problems too.

[2015-07-14 00:21] lsylvester opened #26 "Generation of stream names RFC"
Currently, to stream events in a channel, you call steam_from with a string. This same string must be generated elsewhere in the application to broadcast events to this channel.

Instead of passing in a string, it could be possible to pass in `ActiveModel` compatible object and have the stream name generated from the model, and prefixed by the channel name.

So instead of:

[code]
You could have
[

[2015-07-14 00:29] lsylvester opened #27 "Application Base Class Names RFC"
It is currently recommended that users create a `ApplicationCable::Channel` class in `app/channels` and it is required that users create a `ApplicationCable::Connection` which is recommended to also be in `app/channels`

I think that it would be nicer to not have to namespace the base classes under `ApplicationCable`.

Instead, I think that it would be better to use a base channel class name `Appl

[2015-07-14 08:33] tagrudev commented on #15
I was looking in the examples and I was wondering exactly the same - why would I need another server if I am already running a threaded server like Puma?

[2015-07-14 09:57] IlyaBylich commented on #26
Sounds amazing.
But probably it would be better to have some kind of concern (`ActionCable::Support` or something like this) that will be included into `ActiveModel::Model` by default and implements some common methods like `to_actioncable_channel`? It allows to mix this module into any class (that represents a business model, but is not fully compatible with `ActiveModel::Model`) and implement th

[2015-07-14 12:00] dhh commented on #27
That's what we had originally. I think calling one of the elements "cable"
when the whole package of the feature is "cable" is confusing. I don't
think this is going to be of any practical concern as when Action Cable is
baked, we'll ship it in Rails 5 with all these stubs automatically
generated.

On Tue, Jul 14, 2015 at 2:29 AM, lsylvester <notifications@github.com>
wrote:

[2015-07-14 12:10] dhh commented on #26
I like this a lot. I'd propose a few changes.

First, let's use the GlobalID for this. That's already a global unique identifier for a given object. We can use #to_gid_param for the identifier itself and the full identification for the logging.

Second, here's a twist to the APIs when using this type of composition:

[code]

Then it's clear when we're deriving the broadcasting name vs when we're a

[2015-07-14 13:10] lsylvester commented on #26
@IlyaBylich @dhh Thanks for you feedback. Using GlobalID and `stream_for` and `broadcast_to` sound like good ideas. I will have a go at implementing this.

[2015-07-16 07:48] dre-hh commented on #16
@ianks @tarcieri
Plz correct me if i'm wrong, but as far as I understand the idea of concurrent-ruby is to implement light-weight actors like in Erlang. So there are multiple actors per native OS thread and separate Scheduler within concurrent-ruby. Those actor can still use synchronous IO libs and they get rescheduled when they block.  This paradigm allows Erlang to spawn millions of those lightw

[2015-07-16 07:56] tarcieri commented on #16
@dre-hh this particular thread is about replacing EventMachine with Celluloid::IO. If you think there's a blocking I/O strategy that makes sense to replace EventMachine with (in addition to replacing Celluloid with concurrent-ruby, I guess?), perhaps you could make another thread for that.

All that said I think Celluloid::IO is a better fit given what's already in place. Celluloid::IO lets actors

[2015-07-16 08:15] dre-hh commented on #16
@tarcieri

concurrent-ruby actors seem also slight far from being production ready
https://github.com/ruby-concurrency/concurrent-ruby/issues/332

[2015-07-16 08:28] Asmod4n commented on #16
Last Time i checked, the actor implementation of concurrent-ruby was using a very tiny thread pool which shouldn't be used for blocking I/O because it would exhaust the thread pool rather quickly.
Or you would have to create your own pool and know in advance how many sockets you would open.

But thats over one year ago and i haven't seen any advance in support for I/O in concurrent-ruby.

[2015-07-20 11:03] mieko opened #32 "Contexts/Callbacks/Hook ideas (RFC)"
I'm porting an application from Rails 4 + a homegrown Faye mess to Rails 5-pre + ActionCable.  I was probably the most excited person on earth when this repo went public.

This RFC is about Connection/Channel lifecycle hooks generally, but I'll illustrate with my actual use-case.

The application is heavily tenanted, with a model that works a lot like the Apartment gem.  Outside of a few well-defi

[2015-07-20 12:01] SamSaffron commented on #16
Keep in mind, the only reason you need EM here is for timer implementation (so sockets eventually clean up if rudely disconnected), this can be done in native ruby quite efficiently

https://github.com/SamSaffron/message_bus/blob/master/lib/message_bus/timer_thread.rb

[2015-07-20 12:53] Asmod4n commented on #16
@SamSaffron Time.new shouldn't be used to calculate timer offsets because the System time doesn't increase monotonically, but ruby doesn't offer a monotonic clock, right?

[2015-07-20 13:58] dhh commented on #32
Hey Mike,

Great to hear you porting an app over. I'd be happy to see us expand the
callbacks. Looking into what ActiveSupport gives us would be great. Sounds
like you want before_subscribe.

On Mon, Jul 20, 2015 at 1:03 PM, Mike Owens <notifications@github.com>
wrote:

[2015-07-20 15:37] ianks commented on #16
concurrent-ruby has monotonic time https://github.com/ruby-concurrency/concurrent-ruby/blob/4a64e82a392bbdad4c39e9d873fb6863b6f40719/lib/concurrent/utility/monotonic_time.rb

[2015-07-20 16:11] digitalextremist commented on #16
@ianks, @SamSaffron the scope is to fully take advantage of what's already in place elsewhere in the project, consolidating concurrency approaches since the existing majority of the code is already evented, and it has evented IO by bringing in a lightweight supporting library... rather than have multiple concurrency tending libraries working in parallel. This gem already uses `Celluloid` for its `

[2015-07-20 16:13] tarcieri commented on #16
Well, that and an event-based WebSockets implementation, right?

That said, while we're talking about monotonic time, Celluloid uses the hitimes and timers gems to implement monotonic time and timers respectively.

I'll go back to my original comment:

Seems a lot easier said than done to me...

[2015-07-20 16:25] tarcieri commented on #16
Beyond just this, you need some way of unblocking I/O operations that can last an indefinite amount of time. This is where Ruby traditionally uses something like `timeout.rb`, but `timeout.rb is inherently racy.

To actually solve the races and implement timeouts correctly, you need an evented I/O subsystem.

[2015-07-20 21:07] digitalextremist commented on #16
Have a demo/broken/untested/unused initial push here. I haven't run it even once:

* https://github.com/celluloid/reel-io

After having worked with these types of connections for a long time, making an extremely simple API possible seemed like a good opportunity.

The commits I have so far still need to port `EventSource` since that doesn't appear in `WebSocket::Driver` as it stands, and it's most

[2015-07-21 14:04] jdantonio commented on #16
As others have suggested, this thread probably isn't the best place to discuss [concurrent-ruby](https://github.com/ruby-concurrency/concurrent-ruby). I've created a [discussion thread](https://github.com/ruby-concurrency/concurrent-ruby/issues/379) on our repo where myself and the others on the team will be happy to answer any questions.

Since concurrent-ruby is now a [runtime dependency of Rail

[2015-07-21 14:15] Asmod4n commented on #16
@jdantonio thats cool :)

[2015-07-23 12:32] #14 closed

[2015-07-23 22:54] kyledecot commented on #26
You could shorten `when object.respond_to?(:to_global_id) then object.to_global_id.to_param` to `when object.respond_to?(:to_gid_param) then object.to_gid_param`

[2015-07-24 13:47] cristianbica commented on #13
I will give it a try

[2015-07-26 21:38] maclover7 opened #40 "Inconsistent version numbers"
The [gemspec](https://github.com/rails/actioncable/blob/master/actioncable.gemspec#L3) lists that the current ActionCable version is 0.1.0. However, [action_cable.rb](https://github.com/rails/actioncable/blob/master/lib/action_cable.rb#L21) lists that the current ActionCable version is 0.0.3.

There should be one standardized place to record the version number, to avoid confusion.

[2015-07-27 08:04] matthewd commented on #40
Fixed by #41

[2015-07-27 08:04] #40 closed

[2015-07-27 14:43] cristianbica commented on #32
@mieko I've implemented AS::Callbacks for AC::Connection [here](https://github.com/rails/actioncable/compare/master...cristianbica:csrf). Probably a similar approach can be used for channels also. I would implement `{before,after,around}_{un,}subscribe` which will be executed around the `subscribed/unsubscribed` methods. I can create a separate PR for callbacks for connections/channels if you want

[2015-07-29 19:21] nateless opened #44 "Few questions and concerns about ActionCable"
Hello guys,

First of all I'm really happy to see this in Rails. Thanks @dhh and all the rest! I'm already thinking to test it and port our mess to ActionCable however I have few questions I want to address first as our application is heavy-loaded ( we use tubesock with puma ), have around 500 clients online and each of them gets up to 200-300 messages per second, also we deal with finance and thu

[2015-07-29 19:30] dhh commented on #44
Hey, hey.

A few quick answers:

1. It's one database connection per cable connection, not per channel subscription. So 500 clients online = 500 database connections.
2. There's heartbeat monitoring. If the client doesn't respond, we can disconnect.
3-4. No plans to do any synchronization protection in the framework. We'll leave that as an app concern.
5. Client-side will automatically try to reco

[2015-07-29 20:28] kaspth commented on #26
Fixed in #34

[2015-07-29 20:28] #26 closed

[2015-07-30 00:44] #27 closed

[2015-07-30 09:49] lsylvester commented on #44
@dhh - Can I clarify the first answer? I thought that the database connection was not maintained for each channel, but was checked out of the pool each time it did some work (like set up a connection or run an action) and then checked back into the pool. So the number of require database connections is determined by the worker pool size and not number of clients online.

I think the number of conn

[2015-07-30 10:53] lsylvester opened #47 "ActionCable::Channel::Base to subclass AbstractController::Base (RFC)"
The action processing of `ActionCable::Channel::Base` seems to be similar to the generic action processing in `AbstractController`.

Is there any reason why `ActionCable::Channel::Base` couldn't/shouldn't be a subclass of `AbstractController::Base` to get its action processing implementation?

[2015-07-30 12:27] dhh commented on #44
Yes, that's right. My mistake.
On Jul 30, 2015 11:49 AM, "lsylvester" <notifications@github.com> wrote:

[2015-07-31 03:46] lsylvester opened #51 "Add rendering to ActionCable::Channel (RFC)"
Currently, you can broadcast a hash (or any object that responds to `to_json`).

There are cases where you will want to broadcast a hash that is the result of serializing objects or rendering templates, or broadcast strings that are the result of rendering a html template.

It would be nice to provide an api to perform serialization or rendering while broadcasting. I think that this should be done

[2015-07-31 09:20] lsylvester commented on #47
Implemented in #52 - any discussion can happen there.

[2015-07-31 09:20] #47 closed

[2015-08-01 06:41] uu59 commented on #13
CSRF token-like protection isn't needed I think.
Just verify request header's `Origin` field or common CORS protection using `Access-Control-Allow-Origin` by response header, they protect a user as well.
Browser always set `Origin` to request header when `new WebSocket("ws://example.com")` for negotiate the protocol.

Of course CSRF token-like mechanism works too, but using CORS headers approach i

[2015-08-02 19:20] jalexy12 opened #53 "Not quite an issue, more of a n00b issue."
I was setting up action cable earlier in one of my projects to experiment, and it just wasn't working. I wasn't receiving data client side and it appeared as if my "CommentsChannel" wasn't even being instantiated. I have a very similar setup as the demo, and was following along with this tutorial: http://blog.bigbinary.com/2015/07/19/using-reactjs-with-rails-actioncable.html

According to the logs

[2015-08-02 23:10] javan commented on #53
Are you specifying `Comments Channel` somewhere instead of `CommentsChannel`?

[2015-08-02 23:12] jalexy12 commented on #53
I wasn't which interested me in the logs, I think it had to do more with copy and pasting as opposed to anything else, because it appeared as CommentsChannel in the logs.

[2015-08-03 17:50] jmbejar commented on #15
FYI I run an experiment in order to test an example application using ActionCable on Heroku.

I needed to have it working on an unique puma server, so I created a middleware that is very simple:
https://github.com/jmbejar/actioncable-chat-example/commit/b7286a33d6d9d474a778466ff18b7717e5813ae1

The approach is based on https://devcenter.heroku.com/articles/ruby-websockets.

I have the feeling that

[2015-08-06 06:10] leckylao opened #55 "Heartbeat improvement"
Hi @dhh,

From the server side, there's heartbeat sending from the server to all clients every 3 seconds. And I think this is a bit excessive and it may cause performance issue when dealing with finance or heavy load on the WebSocket.

From the client side, connection_monitor is sending the subscribe message every 4-8 seconds, this would increase the server load especially when all of the clients

[2015-08-06 12:36] sebyx07 opened #56 "override websocket events on the client"
is there a way to handle error/close ? i tried to use

myCableConsumer.connection.webSocket.onclose = function(){..}

and webSocket.onclose will always be null;

[2015-08-06 17:48] javan commented on #55
Because your users change pages every 4-8 seconds?

[2015-08-06 17:57] dhh commented on #55
We've found that those callbacks were not reliable across all situations
and browsers. The only reliable method we've found has been using a
heartbeat.

How is a heartbeat every 3s per connection a performance problem in your
case?

On Thu, Aug 6, 2015 at 7:48 PM, Javan Makhmali <notifications@github.com>
wrote:

[2015-08-06 17:57] javan commented on #56
I don't recommend reaching into connection's `webSocket` like that. It gets [reassigned when the connection is reopened](https://github.com/rails/actioncable/blob/master/lib/assets/javascripts/cable/connection.js.coffee#L15) so your `onclose` handler will be lost. Instead, add a `disconnected` callback to your subscriptions, which will be called when the connection is closed and on error:

[code]

[2015-08-06 17:57] #56 closed

[2015-08-06 23:42] leckylao commented on #55
Hi @javan,

not sure whether it's a bug or not. But if you

1. Clone the actioncable-exmaple and https://github.com/leckylao/em-websocket-example
2. Change actioncable-example/app/assets/javascripts/channels/index.coffee to point to ws://localhost:3001
3. Run actioncable-example/ rails s as client and run em-websocket-example/ ruby app.rb as server

Then you will see "Received: {"command":"subscri

[2015-08-07 00:58] leckylao commented on #55
Thanks @dhh for the explanation.

Some metrics I found:
* https://mrotaru.wordpress.com/2013/06/20/12-million-concurrent-connections-with-migratorydata-websocket-server/

Result in 12m, Average latency 268 milliseconds, Maximum latency 2024 milliseconds, Network Utilization 1.015 Gbps.

* http://colobu.com/2015/05/22/implement-C1000K-servers-by-spray-netty-undertow-and-node-js/ Sorry about it's in

[2015-08-07 14:17] dhh commented on #55
I think you're going to be disappointed if you actually try to do any Ruby
work in these channels and expect that level of performance :). The
heartbeat is just a single piece of text data that requires nothing to
generate. Actual apps will be doing actual things in these channels that
are far slower than what a heartbeat overhead will be.

In any case, I haven't found it to be optional. If you ca

[2015-08-09 23:00] leckylao commented on #55
work in these channels and expect that level of performance :)

Nah, those just some metrics I found that can better show the impact. Another thought, I don't think they implements something like heartbeat but can still achieve stability on that level :blush:

generate. Actual apps will be doing actual things in these channels that
are far slower than what a heartbeat overhead will be.

Most of th

[2015-08-09 23:14] dhh commented on #55
Optimizing for correctness out the box over peak performance seems like a better trade-off to me. If someone actually hits a point in a real application where heartbeat traffic proves to be an issue, we can consider offering a way to turn off heartbeats. Thanks for your consideration and I look forward to hearing about your Action Cable deployment!

[2015-08-10 00:00] leckylao commented on #55
In order to further understand the issue, could you provide an example/demo or explain more about the issue please? How is it not reliable? Thank you.

http://caniuse.com/#search=websocket shows WebScoket is now 87.23% support that maybe the issue should be and has been resolved natively.

[2015-08-10 00:57] dhh commented on #55
This was in testing across a variety of browsers, restore situations, and
mobile scenarios. Don't have a test suite available for reproduction. Would
be nice to have, but it's unlikely that we're going to invest any time into
this, given that we have a working solution. All this testing was done in
the last 3-4 months, though. Feel free to work on such a suite if you'd
like to advance this.

On Su

[2015-08-10 08:50] lsylvester commented on #51
Closing this - I think it needs more thought.

[2015-08-10 08:50] #51 closed

[2015-08-14 13:13] asiniy opened #60 "Authentication using ActionCable"
I want to build an SPA using a clean ReactJS assets + ActionCable.

In my plan,
nginx will send compiled & minified html, css and js, which will connect to the websockets server, based on ActionCable. So, all data (include cookies setting, except the assets) will be send through the sockets.

How can I implement this approach using ActionCable?

[2015-08-15 11:51] robin850 commented on #60
Hi @asiniy,

We're sorry but this tracker is for issues/bugs only ; if you have questions, Stack Overflow or the rails-talk mailing list are more appropriate places for that. Thanks!

[2015-08-15 11:51] #60 closed

[2015-08-15 14:55] asiniy commented on #60
@robin850 ok, here is my SO post: http://stackoverflow.com/questions/32025897/authenticating-using-actioncable

[2015-08-16 02:11] maclover7 opened #61 "Add Changelog"
Most Rails submodules use a changelog to keep track of changes. Since I believe ActionCable is being merged into Rails master in time for v5, starting a changelog early in the project would make keeping track of changes easier.

[2015-08-16 13:19] dhh commented on #61
Changelog is really for tracking changes between releases. We haven't had any releases yet. So for sure we should do it on the first release, but until then, I don't think it's necessary.

[2015-08-16 14:27] #61 closed

[2015-08-17 13:50] gauravtiwari commented on #44
@nateless @dhh @lsylvester Have you seen this - [Centrifugo](https://github.com/centrifugal/centrifugo) and [Centrifuge-ruby](https://github.com/centrifugal/centrifuge-ruby)?

This looks very similar to the approach actioncable is taking - (using Redis PUB/SUB), but the framework is far more reliable and scalable as it uses GO/Redis replication.  Also, it's plug and play.

[2015-08-17 14:50] kaspth commented on #44
@gauravtiwari Action Cable primary purpose isn't to be the fastest solution around. It's extending the reach of your lovely Active Record domain model, so you don't have to rewrite it in other environments.

Can those libraries help us do that?

I'm closing this as the original issue has been resolved by @dhh and @lsylvester's answers.

[2015-08-17 14:50] #44 closed

[2015-08-17 16:04] gauravtiwari commented on #44
Sorry @kaspth if my comment was too vague. I saw David's presentation on ActionCable. I was too very excited in the beginning. I agree and see the importance of integrated systems, which David outlined in his presentation, however, for real-time I don't quite understand about reinventing the wheel when a lot of other tested solutions are out there.

To me, real-time means message delivery between

[2015-08-17 16:10] dhh commented on #44
Use whatever floats your boat, Gaurav. I'm using Action Cable on a project
and love having it be an integrated part of the system, not some
"standalone functionality". Just like everything else in Rails is part of
an integrated system.

I'm also not sure what this discussion would even hope to achieve? Were you
actually thinking that someone would read your comments and think "oh,
yeah, actually,

[2015-08-19 00:55] mrlhumphreys opened #63 "Identifiers that don't implement to_global_id"
Hi everyone,

I was working on replacing polling with `ActionCable` in an app. It's been good so far and things are working mostly as expected. Thanks everyone who worked on this. I've been anticipating this kind of feature for a long time.

I ran into a small issue when using a uuid string as the identifier for a connection. (The scenario is that this uuid string is a unique identifier for a sess

[2015-08-19 14:40] dhh commented on #63
Yeah, we should probably just try(:to_global_id) and then do try(:to_s) if that doesn't work 👍

[2015-08-20 01:11] mrlhumphreys commented on #63
Thanks. That sounds good. I'll work on implementing that.

[2015-08-20 19:33] KevinMcHugh opened #64 "Websocket messages have surprising escaping"
I've got ActionCable running in a Rails 4 app and it's wonderful, it feels very rails-y already. Thank you to everyone for your hard work.

In writing my client of the ActionCable websockets, I was surprised that the messages to subscribe and follow channels are as following:
`{"command":"subscribe","identifier":"{\"channel\":\"CommentsChannel\"}"}`
and
`{"command":"message","identifier":"{\"chann

[2015-08-22 02:29] zcpdog opened #66 "can not obtain cookies.signed[:user_id] in Connection class"
I am using rails 4.2 ruby 2.2.1 with actioncable master branch,
I followed the steps on README.md to identify user,  my connection.rb is like

[code]

My system is using devise to handle authentication, I put

[code]

After login, I found I am able to get cookies.signed[:user_id] from normal requests, but the websocket connect can not get the cookies.signed[:user_id]

[code]

Can I use current act

[2015-08-22 04:13] kaichen commented on #66
Do you launch your actionable server and rails web server under same domain? It may causes by CORS issue.

If you run on you local dev machine, please unify `127.0.0.1` or `localhost` address.

[2015-08-22 06:31] zcpdog commented on #66
Hi Kai,
As you said, I mixed 127.0.0.1 and localhost, the rails app server was running on localhost

After I switched to 127.0.0.1 everything just works.

Thank you and all the actioncable contributors

I think we can close this issue

[2015-08-22 06:31] #66 closed

[2015-08-23 16:49] zcpdog opened #67 "Rack app error: #<NoMethodError: undefined method `+' for nil:NilClass>"
Hi,
I setup actioncable in production, after serval hours running, I got many the following errors,
I am using :
rails 4.2  ruby 2.2.1
puma + nginx

[code]

any help will be appreciated

Thanks

[2015-08-23 17:23] kaichen commented on #67
It looks like a configuration problem. Could you provide any puma config or its launch options?

[2015-08-23 17:27] zcpdog commented on #67
Hi Kai,
Thanks again for your quick response,

here is the puma.rb under shared directory

[code]

[2015-08-24 10:02] kaspth commented on #63
Fixed by https://github.com/rails/actioncable/pull/65

[2015-08-24 10:02] #63 closed

[2015-08-26 06:10] gregmolnar commented on #13
@uu59 any HTTP header can be spoofed so I think a CSRF token would be a more secure solution.

[2015-08-29 18:42] gregmolnar commented on #21
@rosenfeld I just wrote a blogpost about how I made devise and actioncable work together: http://www.rubytutorial.io/actioncable-devise-authentication/

[2015-08-31 12:53] rosenfeld commented on #21
Thanks, @gregmolnar :)

[2015-09-01 03:56] lsylvester commented on #67
It looks like this error will occur when `env['HTTP_SEC_WEBSOCKET_VERSION']` is set but  `env['HTTP_SEC_WEBSOCKET_KEY']` is not set.

According to https://github.com/jrief/django-websocket-redis/issues/54, this can happen for old ios devices. Are you able to tell what device is making the erroring requests? Can you confirm headers that are being sent in those requests?

[2015-09-02 18:39] dgsan opened #72 "Management of client (JS-side) configuration for WS server"
So in your JS "client" you have to call something like `Cable.createConsumer('ws://example.com:12345')` to create your App.cable. But in development you probably want to call something like `Cable.createConsumer('ws://127.0.0.1:12345')` instead. Not sure how it'd work, but maybe there needs to be some configuration management for the JS side of things?

The only idea I have is a .yml or .json file

[2015-09-02 19:30] mieko commented on #32
@cristianbica The Channel callbacks have been merged in #69.  An extraction of your Connection callbacks in in the CSRF PR would be awesome (I'm needing the functionality myself).  If you're busy, I can submit a PR next week.

[2015-09-02 19:48] mieko commented on #32
(Correction: a mobile/caching issue shows me a "merged" that wasn't there, but I still think they'd be a good pair)

[2015-09-03 21:20] smellsblue commented on #72
Here's what I've been doing so far... in my layout in the head, I add a section with a meta tag:
[code]

Then, in my CoffeeScript, I connect like so:
[code]

You could pretty easily move the content for the meta tag into your environment.rb, then have just 1 meta tag which grabs the config value.

I found something like this absolutely necessary, as in development I am using "ws" versus production

[2015-09-03 21:48] dgsan commented on #72
Yeah, I'm doing something similar, looked into using Gon, but ultimately decided to just put my own script tag in the header of a special layout for pages that use ActionCable. It just seems like there ought to be a convention that matches other Rails conventions.

[2015-09-05 00:46] smellsblue opened #74 "Redis subscribed race condition"
I have a post action which in turn notifies a thread I have running to stop its processing. When the processing is complete, this in turn triggers some broadcast messages to tell the browser to update the view with some new details. The thread doesn't die right away, so after the redirect from the post, the old state will be visible until the ActionCable broadcast message comes in.

Unfortunately,

[2015-09-05 23:05] Zapotek commented on #16
I came to the ActionCable repo to specifically check for EventMachine use, aside from the overall niceness of relying on a single concurrency model, EM has had issues with Windows support; last time I used (gave up on) EM it didn't install on Windows.

CelluloidIO seems to have some [Windows issues](https://github.com/celluloid/celluloid-io/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+windows) as

[2015-09-06 00:23] tarcieri commented on #16
Fixing things Windows-related issues on Celluloid::IO should be generally easier than on EventMachine as the overwhelming majority of the code is written in Ruby. Furthermore, two of the issues are related to DNS, and there are plans to switch to the much more robust RubyDNS resolver which I hope would address those issues.

[2015-09-06 22:45] dhh commented on #74
We've seen the same issue. @lifo did you have a take on what we needed to do to solve this?

[2015-09-07 21:23] smellsblue commented on #74
@lifo I've been thinking about this problem a bit, and I feel like keeping just the "connected" event would be ideal... It keeps the API simpler. With that, 2 solutions come to my mind:
* Delay the websocket response from the ActionCable server until Redis has responded, so the JavaScript doesn't have to change
* Send a special message to the client once Redis has responded, delaying the "connecte

[2015-09-15 02:39] vanboom opened #76 "Continuous Connection Monitor activity when disconnected"
connection_monitor.coffee
[code]
When my user logs out and we expire the user cookie, this code is continuously retrying.  This is evident by the cable task printing continuously...
  127.0.0.1 - - [14/Sep/2015 21:34:01] "GET / HTTP/1.1" HIJACKED -1 0.0010

When a user logs in, the continuous print stops.   This is causing CPU usage in the browser and server... how do we get it to stop when we are

[2015-09-15 11:33] mieko opened #77 "Session Access in ActionCable::Connection"
It'd be really nice if one could access the Rails session in the context of `ActionCable::Connection` to authorize connections.

My base Rails app uses a Session with CookieStore, and stores the user's ID in `session[:user_id]`, along with a few minor auth-related values.  I've had to visit every controller action which manipulates the session and make sure I've also set a signed cookie that I can

[2015-09-17 05:12] vanboom opened #79 "Deploying under SSL"
I have an actioncable app working great on my development machine, and am trying to deploy it to a secure production server.

[code]
which results in...
[code]

Could you offer some guidance on how to deploy ActionCable under https/wss?    Thanks!

[2015-09-17 07:15] marcinruszkiewicz commented on #79
This is pretty obvious and might be just a github comments or copy/pasting thing, but still. ;)

a) address should be "wss://..."
b) it should be enclosed in "" or ''

[2015-09-17 14:00] vanboom commented on #79
I am actually passing the websocket address using the gon gem.  Here is what the javascript looks like in my rendered page where [ipaddress] is a real IP address:
    gon.websocket="wss://[ipaddress]:28080";
    App.cable = Cable.createConsumer(gon.websocket);

[2015-09-17 14:17] marcinruszkiewicz commented on #79
Sorry for doubting you, it's just so easy to forget about this stuff, so it's reasonable to point at it first ;)

I didn't have this problem myself, but with my heroku deployment I'm starting the actioncable server a bit differently (as a middleware rather than a separate process) than it's described here in the readme.

Your problem seems to be something similar to the one in https://github.com/p

[2015-09-17 15:21] vanboom commented on #79
No worries, thanks for helping.  I am a newb w/r to web sockets, so I appreciate your help.  ActionCable is working beautifully on my localhost -- a GREAT addition to Rails imho!

I wonder if there is a key/cert pair that I need to give the ActionCable server.

I am deploying on a DigitalOcean slice, Ubuntu.

[2015-09-17 15:29] vanboom commented on #79
This appears to be the appropriate solution...specify the address with ssl:// instead of tcp://

e.g.
bundle exec puma config.ru -b 'tcp://0.0.0.0:3456?key=/path/to/key.key&cert=/path/to/cert.crt'
instead of
bundle exec puma config.ru -b 'ssl://0.0.0.0:3456?key=/path/to/key.key&cert=/path/to/cert.crt'

However, this leads to
2015-09-17 11:27:20 -0400: Rack app error: #<TypeError: no implicit conve

[2015-09-18 07:11] marcinruszkiewicz commented on #79
Might be easier to just go the middleware way as described here: http://www.thegreatcodeadventure.com/deploying-action-cable-to-heroku/ (minus the heroku parts, obviously).

[2015-09-18 15:39] vanboom commented on #79
Thanks...I tried using the middleware way this morning.  When ActionCable tries to connect, I am seeing an error `failed: Invalid frame header` when the WebSocket tries to connect.  I have confirmed the middleware is routing to ActionCable.   When the connection fails, ActionCable continuously retries to connect.

[code]

[2015-09-20 03:06] vanboom commented on #79
https://github.com/phusion/passenger/issues/1202#issuecomment-141675220

WebSockets do not work under Apache/mod_passenger.  I converted my hosting over to NGINX, and the app works perfectly.

[2015-09-20 03:06] #79 closed

[2015-09-29 00:03] AranHase opened #80 "`web_notifications.rb` file from the example should be `web_notificaitons_channel.rb`?"
Hi,

I'm actually not sure about this issue, but, when I was trying to create a subscription using a file named as in the example from the README.md:

    # app/channels/web_notifications.rb

the subscription just didn't work.

However, the subscription started working when I changed the file name to:

    # app/channels/web_notifications_channel.rb

I tried changing only the name of the file by r

[2015-09-29 05:47] kroehre opened #81 "Close/Disconnect Consumer"
I may be missing something, but I can't seem to get a consumer to stop reconnecting when its connection is closed. Calling `cable.connection.close()` closes the connection, but a new connection is made and heartbeats continue. Any ideas?

[2015-09-29 21:55] kroehre commented on #77
:+1:

[2015-10-01 17:48] dgsan commented on #77
I'm curious what you mean by things getting out of sync. I use Redis sessions in my app and I pretty much never put anything in them besides the session[:auth]. For actioncable I do `cookies.signed[:auth] = Base64.encode64(auth.to_msgpack)` (where auth is the same as the contents of session[:auth]) and haven't had a problem. There's really nothing to get out of sync since both cookies are always s

[2015-10-01 23:51] kroehre commented on #81
I'm able to successfully disconnect the cable doing something similar to this:

[code]
It's pretty intrusive to the internals of ActionCable. The key part here is:
[code]
Without that, the connectionMonitor will be notified via its subscription when the websocket disconnects. When that happens the connectionMonitor restarts itself (even though it was stopped), and re-establishes the websocket conn

[2015-10-01 23:57] kroehre commented on #77
@dgsan I _think_ what @mieko was saying is that he's concerned about duplicated code and the risk of that code becoming out of sync.

[2015-10-02 23:00] kroehre commented on #81
This may be related to #76

[2015-10-03 00:44] kroehre commented on #74
@lifo I've also run in to this issue. Sometimes a background process completes quickly and broadcasts before the browser has connected. I've overcome this by using an intermediate object that is persisted in Redis for a short while when the process completes. It broadcasts immediately, which works when the browser has already connected. In my channel, when a subscription is started, I look up the

[2015-10-03 01:05] kroehre opened #82 "NameError(undefined local variable or method `data' for ApplicationCable::Connection"
Seeing this in logs when trying to connect. It doesn't happen every time though, which is odd.

[code]

[2015-10-03 01:10] jeremy commented on #82
Similar errors:

* https://github.com/celluloid/celluloid/issues/109
* https://github.com/celluloid/reel/issues/33

[2015-10-03 20:04] #80 closed

[2015-10-06 16:40] alexpeattie commented on #77
@mieko - Since ActionCable has access to the request's cookies, if you're using `CookieStore`, you should be able to grab your session like so :relaxed: :
[code]

This seems to work well, but feels like a bit of a hack. `session` isn't a true session object (i.e. instance of `ActionDispatch::Request::Session`) - e.g. it doesn't have indifferent access and methods like `session.id` won't work. And

[2015-10-06 16:55] jeremy commented on #13
You can't spoof the `Origin` header in browsers. Whitelisting `Origin` is a great (and much simpler) technique to prevent CSRF.

[2015-10-06 17:01] jeremy commented on #77
https://github.com/rails/actioncable/pull/43/files#diff-1ccdf466a84301f357917905629ef692R135

[2015-10-06 17:41] alexpeattie commented on #77
@jeremy - :+1:

[2015-10-07 06:22] gregmolnar commented on #13
That's true, at least as longs as there is no SOP bypass vulnerability in the browser(which is rare).

[2015-10-07 07:23] cristianbica commented on #13
I'm in progress with the CSRF implementation. An `Origin` based implementation would be much simpler.  I'm going to explore that and we'll see how it looks.

[2015-10-07 07:24] cristianbica commented on #32
@mieko yeah go ahead and extract the callbacks from there as the CSRF PR won't be merged soon.

[2015-10-07 07:37] gregmolnar commented on #13
I think simple is better and SOP should be the browsers responsibility. Thanks for your work on this @cristianbica !

[2015-10-07 18:50] jeremy commented on #13
Origin whitelist implemented at #85, moving there!

[2015-10-07 18:50] #13 closed

[2015-10-07 18:52] jeremy commented on #32
👍

[2015-10-07 22:31] nateless opened #86 "Uniq connection identifier"
Hello guys,

I've been playing with AC and got stuck with small problem. Let's assume I want to make something as on Github when you open site from another tab and first one gets an alert and disconnects from WS.

If I put this code into `Connection#connect` class, both tabs will start disconnect each other:

[code]

Is there any way to exclude current connection from the list? Because `disconnect

[2015-10-08 03:53] jrguenther opened #87 "Views or Data over the wire?"
If I remember dhh's keynote correctly, one of the examples seemed to show how to send a JS view. I've read through the source and the example source and I can't find an example of how to do it. The readme only show `received: ->(data)`. Is there any documentation about how to send JS views over the wire?

[2015-10-08 05:39] dhh commented on #87
You send JSON. That JSON can include values that are full HTML templates.

[2015-10-08 16:36] jrguenther commented on #87
Ah, ok. I see now. Once the data is received whether plain data or HTML as data, you handle the DOM update in `received`.

[2015-10-09 07:26] maikokuppe commented on #82
+1

[2015-10-09 11:04] kaspth commented on #87
:grin:

[2015-10-09 11:04] #87 closed

[2015-10-11 02:25] danielschwartz opened #88 "Add ability to exclude specific connection from broadcast"
If you use a connection to perform an action that causes a broadcast you will always have to exclude yourself from reperforming the action client side. This feels like a pretty core use case, and feels like something that should be a first class citizen within ActionCable.

For reference this is how Pusher does this: https://pusher.com/docs/server_api_guide/server_excluding_recipients

The idea wo

[2015-10-13 00:14] kayakyakr commented on #72
``Cable.createConsumer('ws://' + window.location.hostname + ':12345')`` would work if you're just using port.

My implementation will use ``Cable.createConsumer('ws://' + window.location.host + '/websocket')``

[2015-10-13 04:04] danielschwartz commented on #86
FYI -- I've opened #88 which proposes an exclusion API for ActionCable.server and adds current_connection as a unique connection identifier

[2015-10-14 00:32] TheAustinSeven opened #91 "Starting Actioncable and Rails separately"
It seems that one should not have to start the Actioncable and Rails portion of an app separately. Is this something to be fixed, or is this a conscious design choice?

[2015-10-14 00:35] TheAustinSeven opened #92 "Lack of Generators"
As of right now there are no generators for new actioncable connections. It seems that to adhere to the  "rails-y" way of things there should be at least an initializing generator that adds the code necessary to start adding connections. Is this an issue or is there a reason this hasn't been done yet?

[2015-10-14 07:05] kaspth commented on #91
Conscious, but not fixed in stone. Please take a look at our open issues before submitting a question. You would have found: https://github.com/rails/actioncable/issues/15 :grin:

[2015-10-14 07:05] #91 closed

[2015-10-14 07:08] kaspth commented on #92
Action Cable is alpha software, so it hasn't been done yet. Here's a pull request adding channel generators to take inspiration from: https://github.com/rails/actioncable/pull/17 — in case you want to try your hand at a pull request :grin:

[2015-10-14 07:08] #92 closed

[2015-10-14 16:08] TheAustinSeven commented on #92
Awesome, I'll get right on it.

[2015-10-14 16:16] seuros commented on #92
Generators should be added after the API is stable. I will update the PR when we reach that state.
Adding generators now will just make refactoring the API more time consuming.

[2015-10-14 16:45] TheAustinSeven commented on #92
@seuros There are still some things that should be added. I started working on one that has some aspects more similar to the generators we see with other parts of rails.

[2015-10-15 20:26] TheAustinSeven commented on #92
The pull request I submitted is #96.

[2015-10-19 13:16] badlamer opened #99 "Redis-sentinel support"

[2015-10-19 13:25] seuros commented on #99
Redis sentinels are supported by default in the redis gem.

[2015-10-19 13:25] #99 closed

[2015-10-19 13:44] badlamer commented on #99
@seuros but actioncable use em-hiredis gem, which does not support sentinel connections

[2015-10-19 14:03] seuros commented on #99
The support should be added in em-hiredis then.

[2015-10-20 09:25] maikokuppe opened #100 "Package from client to server gets lost sometimes - followed by reconnect"
I'm developing a websocket-based board game. Every time a user makes a move, it is sent to the server via websocket connection.
Sometimes a move is sent (the .perform method is called), some seconds pass, and there comes an automatic reconnect. The request was not sent. Instead, this appears in the log file where the incoming request should appear:

[code]

I suppose, this is just an accidental di

[2015-10-20 17:35] kayakyakr commented on #100
That looks more like a server crash of some sort. It's shutting down Celluloid. Is there any additional information in the log?

Are you by chance using custom broadcast blocks? I was having issues with silent failures in custom blocks earlier.

[2015-10-20 21:41] dgsan opened #101 "Constant looping of `connected` event when using SSL"
I've been trying to get websockets to work with SSL -- I've got them working fine without it in dev mode in both Puma and Thin without SSl, but adding it seems to make things go crazy: once SSL's in the picture I get infinite `connected` events.

I've tried with Thin and Puma, and with Nginx reverse proxying both.

Puma chokes on SSL: for some reason I get `Rack app error: #<TypeError: no implicit

[2015-10-20 22:07] javan commented on #101
What rev are you running? @lifo fixed a similar sounding issue yesterday https://github.com/rails/actioncable/commit/506d84c157b041208f40b7034cac9c5d5e66fff5. If you're not already, can you try pointing to the latest commit and see if the issue persists?

[2015-10-20 22:55] dgsan commented on #101
I'm on 904b83b, which includes 506d84c.

[2015-10-20 22:59] #101 closed

[2015-10-21 14:32] badlamer commented on #99
Need a special connection url em-hiredis - **SUBSCRIBE** since the operation can be performed in a mode readonly, it can be used for connection em-hiredis to localhost.
Meanwhile broadcating goes through the driver redis-rb, who once supported the sentinel hook up, but the url's in such a case is redis://sentinel_group - which is not compatible with the em-hiredis.

I`m solved this with monkey pat

[2015-10-22 12:33] maikokuppe commented on #100
That log excerpt included everything that could possibly be related to that incident.

I don't know what you mean by 'custom broadcast blocks'. I broadcast user A's move to user B like this
[code]
But that doesn't happen here, since the server does not receive the move.

[2015-10-22 14:20] kayakyakr commented on #100
The log is simply telling you that Celluloid is shutting down (`Terminating 101 actors`). So something is happening that is causing the server to go, "oh hey, this is bad" and exit, albeit gracefully with Celluloid taking the time to shut down its actors and trying to display backtraces.

I asked about custom block because you are able to do something like:

[code]

And I've found that it fails si

[2015-10-22 15:53] maikokuppe commented on #100
I'm not using custom blocks and I'm running standalone. I do clearly remember the message being sent out from the client.

Unfortunately I cannot debug this well, since it happens very rarely. Once in 400 requests I'm estimating by the logs.

I agree, that it is probably not a connection issue: When I try to reproduce it by cutting the internet connection for some seconds, it automatically sends t

[2015-10-23 21:33] kayakyakr opened #103 "Recommended way to run ActionCable: Standalone or in-server"
I was about to do another round of improving the README with some things that I've found, but I was wondering if it's time for the recommended way to run ActionCable should change.

Currently, it works both in-app and stand-alone with any server that supports threading (thin, puma, etc). In-app is easier to get started on and easier to deploy since, as long as you have a rails server running, you

[2015-10-23 21:36] dhh commented on #103
I think it's fine to promote in-app as the default to get started, but also
say that large deployments in the wild, like Basecamp 3, use the
stand-alone model.

On Fri, Oct 23, 2015 at 4:33 PM, kayakyakr <notifications@github.com> wrote:

[2015-10-23 21:40] kayakyakr commented on #103
Yeah, that's what I was thinking. Once you have to start thinking about scaling, it's time to switch over to stand-alone.

The nice thing is that it's very easy to change from one to the other. Set up new servers, set a load balanced location to point to the new cable server(s), remove the route from routes.rb.

[2015-10-23 22:17] #32 closed

[2015-10-24 02:29] huetsch opened #104 "libc++abi.dylib: terminating with uncaught exception of type std::runtime_error"
After running "bundle exec puma -p 28080  cable/config.ru" for a while, it always dies with the following error:

libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: adding existing descriptor
Abort trap: 6

I believe it may be related to this faye-websocket-ruby bug:

https://github.com/faye/faye-websocket-ruby/issues/35

The server randomly dying all the time is a pr

[2015-10-24 06:58] kaspth commented on #103
Sounds good, we should probably have instructions for moving from in app to stand alone setup too then :)

[2015-10-24 12:34] wazery opened #105 "[Suggestion] Cable Dashboard Gem"
I am proposing to create a new gem to act as a dashboard for the Cable server. So it can list all the events as they got sent, what's going on the Cable server, and creating new events from it, something much like Pusher's dashboard:

![Pusher's dashboard ](http://www.internet-of-things-book.com/style/images/pusher4.jpg)

WDYT guys/gals, can I proceed to work on it?

[2015-10-24 12:44] seuros commented on #105
I like it. We can pair of it if you want.

[2015-10-24 12:46] wazery commented on #105
@seuros That would be awesome :smiley:. I will email you with my contact details.

[2015-10-24 12:48] seuros commented on #105
:smiley_cat:  Dude, we already in each other contact list :).

[2015-10-24 15:20] kaspth commented on #105
Sounds cool 👍

Also you don't need our permission to write a separate gem, as Action Cable has an MIT license. So have at it 😁

[2015-10-24 15:20] #105 closed

[2015-10-24 15:26] wazery commented on #105
Yea, sure it's not a permission, it's more like checking the idea and if more people interested.

[2015-10-24 16:22] kaspth commented on #105
Ah sure, I misunderstood the intent 😁

[2015-10-28 12:23] CraigSnowden commented on #64
This is quite annoying for me too

[2015-10-28 17:43] daino3 opened #107 "Must use ActiveSupport::TaggedLogging otherwise TaggedLoggerProxy will throw errors"
I don't know if this is a better documentation thing or not, but we weren't using ActiveSupport loggers in our demo environment and kept getting `undefined method 'current_tags' for nil` and when setting a formatter `undefined method 'current_tags' for #<Logger::Formatter123#>`

So, I guess the question is - is Action Cable so tightly coupled to ActiveSupport::TaggedLogging that it must always be

[2015-10-28 17:48] rafaelfranca commented on #107
Have you checked it after https://github.com/rails/actioncable/pull/84 was merged?

[2015-10-28 18:01] daino3 commented on #107
Dangit! Laziness on my end for not going through the closed PRs and just looking at the issues. I must have pulled down literally the day before this was merged. In any event, I can confirm #84 does fix this issue for me. Thanks @rafaelfranca for the speedy followup.

[2015-10-28 18:01] #107 closed

[2015-10-29 10:16] Electrofenster opened #108 "can't connect to websocket"
I can't connect to the actioncable websocket.

I added this line to my routes.rb
[code]
and I added this files to my app path:

cable/config.ru
[code]

channels/application_cable/channel.rb
[code]

channels/application_cable/connection.rb
[code]

and my javascriptfiles under assets/javascript/channels/index.coffee
[code]

then I started my rails app with puma:
[code]

[2015-10-29 14:03] vadimskrotsky commented on #108
if you use in app server, you don't need a separate server https://github.com/rails/actioncable#in-app

and you need to specify `action_cable.allowed_request_origins` in `config/application.rb`

for example:
[code]

[2015-10-29 14:21] Electrofenster commented on #108
Okay thanks,
When I start my rails application with
[code]
the actioncable server starts with it?

[2015-10-29 14:23] kayakyakr commented on #108
For the in-app, yes. I'll make that more clear with the next round of README updates.

Of note: your find authorized user function is not actually loading the user at all and may, in fact, be causing any connection to your cable server to reject. Until you get a connection working, I'd comment out `reject_unauthorized_connection`

[2015-10-29 15:08] vadimskrotsky commented on #108
yes and you don't need `cable/config.ru` and `bundle exec puma -p 28080 cable/config.ru`
and may be in JavaScript:
[code]

[2015-10-29 15:12] Electrofenster commented on #108
ok, thanks :+1:
I'll test it later and give some feedback.

[2015-10-29 17:37] #108 closed

[2015-10-29 18:29] nateless opened #109 "InvalidIdentifiersError Exception when use more than one identifier."
`Connection` class has `identified_by :current_user, :unique_id`, when somewhere later I call

`ActionCable.server.remote_connections.where(current_user: find_verified_user).disconnect`

it throws an exception:
[code]

Exception is being thrown [here](https://github.com/rails/actioncable/blob/master/lib/action_cable/remote_connections.rb#L60), because I did search only with one indetfier but not a

[2015-10-29 19:11] nateless opened #110 "Client disconnect with ActionCable.server.remote_connections"
I think we need to tell client that he has been disconnected, e.g. we can listen to internal channel and process that event. At the moment server gets the message and closes WS connection. Client starts to reconnect automatically. It would be nice to process this event on client and prevent it or ask user whether he wants to reconnect or no.

[2015-10-30 19:46] ajahongir commented on #66
@kaichen :+1:

[2015-10-31 19:40] dballona opened #111 "There was an exception - NoMethodError(undefined method `_run_unsubscribe_callbacks' for #<MyChannel>)"
<img width="1412" alt="screen shot 2015-10-31 at 5 34 07 pm" src="https://cloud.githubusercontent.com/assets/1319459/10865554/b954d93e-7ff5-11e5-806d-cc2fd9cf3fe8.png">

Not sure, but is this where maybe it's here where it was introduced?
https://github.com/rails/actioncable/commit/9f1938d9c10b4892d939374b49362e726023b5d7

 cc @mieko @rafaelfranca
I'll be happy to solve it if you provide some dire

[2015-11-04 08:03] mieko commented on #111
@dballona There does appear to have been a merge issue when the callbacks branch was merged (compare [unsubscribe_from_channel](https://github.com/mieko/actioncable/commit/cf426a7ee680e8cd30a4b5afccf7e140537836f4#diff-bc1f6d9f78ab7b4b491641f39548e0c1L140) in the callbacks branch to [what was merged](https://github.com/rails/actioncable/commit/9f1938d9c10b4892d939374b49362e726023b5d7?diff=unified#d

[2015-11-04 14:34] dballona commented on #111
I'll revert your callbacks as they were, do some manual tests and update this issue referencing a PR. cc @mieko

[2015-11-04 16:20] jeremy commented on #111
Fixed by #113

[2015-11-04 16:20] #111 closed

[2015-11-04 17:13] rafaelfranca opened #114 "Add ActionCable as a topic to the guide"
_From @openscript on November 4, 2015 10:21_

The release of Rails 5 is coming closer and closer. I've been spending some time with ActionCable, but I think there are still a few things to discover. Howsoever, I thought I can contribute something to the guides. So let's start the ActionCable topic.

---
Here is my idea about the chapter structure, based on Active Job Basics and Action Mailer Basic

[2015-11-04 17:13] rafaelfranca commented on #114
Lets move this discussion for Action Cable repository so you can start to work closer to the code.

[2015-11-04 20:58] openscript commented on #114
Thanks! I started in the rails repository, because the guides are in that repository, too. So I thought it's the right place.

[2015-11-05 08:12] nflorentin commented on #104
+1
I'm facing the same issue and a bit worried about putting this into production

[2015-11-05 12:52] dballona commented on #114
Has anyone started writing this up? I can take care of some topics such as:
- What's the PubSub pattern?
- Creating a cable;
- Opening a channel;

[2015-11-05 13:04] dballona commented on #109
@nateless, is this happening because you're not passing a unique_id to `where` clause as well? I think `#valid_identifiers?` assumes that all keys should be passed.

[2015-11-05 16:15] nateless commented on #109
@dballona, I've checked source for `identified_by ` [identification.rb#L19](https://github.com/rails/actioncable/blob/master/lib/action_cable/connection/identification.rb#L19) and it accepts array. So I thought I can use several identifiers to somehow "tag" connections.

[2015-11-05 16:19] dballona commented on #109
Yup... it accepts multiple identifiers, but what I'm suggesting is that it probably is looking for an argument that passes all the arguments you've set in `identified_by` to find your remote connection.

Something in these lines:
[code]

But that's just a guess, based on code on `remote_connections.rb` :)

[2015-11-05 16:20] nateless commented on #109
Yeah, I get it, but makes me feel kind wrong, why would you allow accept many identifiers if later you should combine them all and use as uniq? In that case you can make it in the identifier method.

[2015-11-05 16:30] dballona commented on #109
I can think of a scenario which we have a multi-tenant application with a shared user base.
let's say we have an `Account` which has and belongs to many `User`.

You could be able of retrieve in which account that specific user would be doing an operation, by having `account_id` and `user_id` as identifiers.

But yeah, we can achieve the same result by just combining them, as you've said.

May I o

[2015-11-05 16:47] nateless commented on #109
Yeah, I was thinking the same scenario and it's just much easier to process it in the app identifier than pass it to AC. However with `.any?` there's a problem.

Currently AC thinks and behaves as theres one and uniq identifier, when we will use it as some 'tag' method then where will `internal_redis_channel ` broadcast with `.any?` call?

[2015-11-05 16:54] dballona commented on #109
Just by swapping to `.any?`, in every channel that contains one of the identifiers as a subscription, I guess. I'm not sure this is desired behavior, though.

I think we can get decisive feedback by just opening the PR and checking if it's desirable to make ActionCable behave like that.

[2015-11-06 05:55] kayakyakr commented on #114
Should the ActionCable README reflect the content of the guide?

[2015-11-06 12:30] dballona commented on #109
@jeremy any thoughts? :)

[2015-11-07 11:59] pmontrasio opened #118 "The example JS code doesn't call the server at the first call"
I experimented with ActionCable by building over the example code in the README. My goal was authenticating the websocket with devise, which I did, but along the way I run into a problem. I eventually traced it back to this code from the README

    $(document).on 'page:change', ->
      App.appearance.appear()

```App.appearance.appear()``` is called and returns before the websocket is open and c

[2015-11-09 18:52] kayakyakr commented on #118
Just wanted to write that you're not crazy, this does happen. I solved it by attaching a promise to the subscription connected message. The issue is that you really have two different points of failure: you can potentially send a message in the millisecond before the cable is connected, but you can also send a message before your subscription is connected.

There is already handling if you try to

[2015-11-09 23:11] mklemme commented on #105
Can you post a link to the repo once you start, @wazery?

[2015-11-11 17:33] jnstq opened #119 "Truncate log message"
I have just implemented ActionCable in our app. It feels great! I'm sending large json blocks, are there some way to truncate the logged message? I have tried to override the new_tagged_loggor but that does not affect the Broadcasting to log entry.

I can change the log level but then it feels to quite.

[2015-11-11 21:05] daino3 opened #120 "Integration testing Cucumber / Phantomjs / Capybara / actioncable"
FYI - This is a question. I'm trying to run cukes against the websocket features we've implemented and can't seem to figure out where to start debugging, or if this is even supported right now.

I've tried the cukes running with actioncable running as a standalone service as well as middleware of the main application like described in the README. Basically, the cukes assert against a live update r

[2015-11-12 18:54] dchersey opened #121 "Receiving NoMethodError(undefined method 'tags' for #<ActiveSupport::Logger>')"
Hello, setting this up for the first time following examples at http://nithinbekal.com/posts/rails-action-cable/ using latest master branch commit. Everything seems to be working fine rails-side and javascript client-side; I'm hitting all my breakpoints on the publish and subscriber code except I'm not receiving any data to the client.

I'm launching a cable server with
[code]
and my config.ru con

[2015-11-14 11:39] adwmicro opened #122 "./bin/cable Unable to load application database is not configured."
Hi I have a problem with my application, when an application start via command `'rails s'` all works but when i trying to run additional actioncable server `'./bin/cable'` get an error

---------------------------------------------------------------------------------------------------------------------------------------
Puma starting in single mode...
* Version 2.15.3 (ruby 2.2.0-p0), codename: Au

[2015-11-14 23:54] adwmicro commented on #122
In `models/database/init_database.rb`
change:
 `establish_connection "#{ENV['app_name']}".to_sym` =>
 ` establish_connection "development".to_sym`
to fix this issue

[2015-11-14 23:54] #122 closed

[2015-11-15 17:53] dchersey commented on #121
update: I have switched to rails (5) edge -- working now.

[2015-11-16 15:52] benams commented on #121
Is that mean the bug is closed? What about rails 4? Furthermore, what if I use a logger other than ActiveSupport::Logger (I use 'logging' gem for example)?

[2015-11-16 16:29] devmarwen opened #123 "Public live chat implementation between guests and connected users"
### I'm trying to build a public live chat, here's what it's like:
A random user visits the site ( and gets a random token stored in the cookies ), when he requests a live chat session a `guest` record gets created and the chat may begin between him and an end user from the admin area. The "chat" is just a simple `conversation` that has many `messages` from the `guest` and the `user` or `current_u

[2015-11-16 21:27] dchersey commented on #121
I would not say so; seems like action-cable is broken right now with Rails 4.2.4.

[2015-11-18 12:01] lsylvester commented on #121
I was not able to get this error happening on rails 4.2 using the default logger, but using a custom logger caused it to get this error. Any change a custom logger was being used when you were running on 4.2?

[2015-11-18 14:10] benams commented on #121
Yes, my app uses the "logging" gem. Do you think rolling back to the default logger will be enough? you can use action cable properly with rails 4.2 + default logger?

[2015-11-18 17:20] dchersey commented on #121
I was also able to get everything working by starting from scratch with a new rails app ... I will be bringing in the other configuration changes/additional gems gradually to find the breaking issue and will update this thread when I find it. I am not aware of using a custom logger but I was using the [Rails4StarterKit](https://github.com/starterkits/rails4-starterkit) and there may be something i

[2015-11-18 20:18] lsylvester commented on #121
@dchersey It looks like Rails4StarterKit uses a custom logger defined at https://github.com/starterkits/rails4-starterkit/blob/master/config/environments/development.rb#L18, so that would explain the errors you were getting.

[2015-11-18 23:26] lsylvester commented on #119
Current broadcasting line is `server.logger.info "[ActionCable] Broadcasting to #{broadcasting}: #{message}"`

Maybe it would be good to break it into two parts - with the Broadcasting To as info level, and the actual message as a debug level?

[2015-11-19 02:06] dchersey commented on #121
Ah yes ... I see it now :)

[2015-11-19 21:56] jnstq commented on #119
That would be perfect. Should I create a pull request?

[2015-11-20 01:00] kayakyakr commented on #123
I don't believe that multiple connection types is fully supported at this time, you would need to be able to determine if it's a guest session or a user session in the single connection. You could create a separate channel for each, but if you're already emulating a user object for guests, you might as well just use the same channel.

[2015-12-02 15:50] mikecarroll commented on #104
+1

[2015-12-02 16:51] andreyshade opened #127 "Server response GET / HTTP/1.1" HIJACKED -1"
This message display in IDE terminal "GET / HTTP/1.1" HIJACKED -1",  when i trying to connect to WebSocket server, please help.

[2015-12-03 13:05] #127 closed

[2015-12-05 22:00] adamliesko opened #129 "Adding regexps as an option inside allowed_request_origins"
Hey all,

at one of our projects we needed to have a greater control over the allowed request origins and didn't really wanna bother with rack-cors etc. solutions, so we had changed the implementation to also accept an Regexp as an item inside the `allowed_request_origins` array. I believe that this is something which might worthy of being as a default feature.

What do you think?

Be aware that t

[2015-12-06 10:16] vasspilka commented on #114
Hey, I was thinking about contributing to documentation too, @openscript are you still interested into writing this?

[2015-12-07 21:03] dchersey opened #131 "Getting WebSocket is closed before the connection is established in production setup"
Hi, my action cable is working just fine on development, but when I configure it for production using an nginx reverse proxy, I get the repeated message in my browser that the webSocket is closed before the connection is established.

I believe my nginx reverse proxy is working properly, as I am getting access.log entries and no error.log entries. When kill my cable server (using puma) the nginx e

[2015-12-08 00:43] mikecarroll commented on #131
I had a similar issue, did you set the `allowed_request_origins`? It doesn't cause an issue in development mode because it defaults to allowing `localhost` when in development.

I made a pull request with updates to the documentation about this, which has some more detail: https://github.com/rails/actioncable/pull/126

[2015-12-08 09:45] assimovt opened #132 "Channel authorization"
What's the best approach to authorize channels? Let's say you have a multi-tenant application with user belonging to many companies. The example with `app/channels/application_cable/connection.rb` shows how to authenticate a user, but how about authorizing channel subscriptions? I thought of passing a parameter as demonstrated with Room example, but is that secure? Could someone subscribe to a roo

[2015-12-08 10:37] lsylvester commented on #132
You have access to the `current_user` inside the channel, so you should use it to verify that the user has access to the room before you start the stream.

Something like:
[code]

[2015-12-08 11:25] assimovt commented on #132
Awesome, so no need for something like `reject_unauthorized_connection`? What about changes in permissions, say user has been removed from the room? What's the best way to handle it?

[2015-12-08 16:19] dchersey commented on #131
This looks promising; I will play with it. QQ: what should the origin be in the case of an nginx reverse proxy? My server domain name? Localhost on the inbound port (81) ?

Browser --> NGINX:81 --> AC running on localhost:28080

Thanks!

[2015-12-08 16:22] mikecarroll commented on #131
The domain name.

[2015-12-08 16:44] dchersey commented on #131
That did the trick!! Many thanks, and :+1:  on this pull request!

For others with this problem reading this, all I did was create an initializer config/cable.rb containing:
[code]

Now off to layer SSL onto the reverse proxy ...

[2015-12-09 22:11] rushingfitness commented on #131
I have a similar issue, but my AC server is set up in app, instead of standalone. I have an initializer that sets the `allowed_request_origins` and can verify it is set if I do a rails console to check the value. However I'm still getting a 404. Is it possible because it's in app and not standalone?

[2015-12-10 14:16] mikecarroll commented on #131
@rushingfitness I mounted it in `routes.rb`. I actually raised, and later self-answered, some questions about it on SO: http://stackoverflow.com/questions/32322652/configuring-nginx-to-proxy-thin-and-rails-actioncable

Maybe that would be the more appropriate place for this continuing this conversation, so that we don't clog up the issues board here.

[2015-12-10 14:32] dchersey commented on #131
Your SO thread was very helpful to me, and I posted my thoughts there about server separation and SSL proxying

[2015-12-11 02:24] vovimayhem opened #134 "Redis Configuration from Environment Variable"
I think it would be extremely nice if ActionCable's Redis Connection could be configured by just setting an environment variable - i.e.: 'REDIS_URL=redis://somehost:6739' - in the same way ActiveRecord does with 'DATABASE_URL', whenever it doesn't find the 'config/database.yml' file...

Right now, if I dismiss/forget creating the 'config/redis/cable.yml' file, ActionCable raises an error.

[2015-12-11 15:26] kayakyakr commented on #134
just create the file and set the cable.yml to be the environment variable?

[2015-12-11 15:28] dhh commented on #134
We're going to ship Action Cable with Rails directly, so this file will be present. I don't think this is a good fit because you may well have many Redis instances.

[2015-12-11 15:28] #134 closed

[2015-12-11 15:29] dhh commented on #132
@assimovt You can call `ActionCable.server.remote_connections.where(current_user: user).disconnect` in the code that changes access.

[2015-12-11 15:29] #132 closed

[2015-12-11 15:31] dhh commented on #123
I don't really understand the question. Maybe kayak's answer helped? But in any case, the issue tracker here is for reporting bugs, so closing this one.

[2015-12-11 15:31] #123 closed

[2015-12-11 15:32] dhh commented on #131
Would be great to collect a FAQ and include links to that SO article. If anyone wants to work on that, please open a PR.

[2015-12-11 15:32] #131 closed

[2015-12-11 15:36] dhh commented on #129
Discussion continued in #130.

[2015-12-11 15:36] #129 closed

[2015-12-11 15:37] #121 closed

[2015-12-11 15:38] rushingfitness commented on #131
My issue was actually a combination of Heroku & Cloudflare. Had to buy an ssl cert and point to a subdomain that didn't use CF's proxy. PITA, but now it works perfectly.

[2015-12-11 15:38] dhh commented on #120
Not sure what the problem is, but please use http://stackoverflow.com/questions/tagged/ruby-on-rails to request assistance. We're using the issue tracker just for bugs. Thanks!

[2015-12-11 15:38] #120 closed

[2015-12-11 15:39] dhh commented on #119
Happy to see a PR for some truncation, but it shouldn't be very aggressive. Only to catch truly huge JSONs.

[2015-12-11 15:39] #119 closed

[2015-12-11 15:41] dhh commented on #114
Whoever wants to start work on this, that'd be great. We definitely need a guide!

[2015-12-11 15:45] dhh commented on #131
Would be great if you could write a tutorial based on the issues you hit. I'm sure you're not alone. Thanks!

[2015-12-11 15:50] dhh commented on #109
Would be good to change this such that you can kill a connection based on any of the identifiers, BUT it still has to be possible to narrow the field down by including multiple identifiers. So where(user_id: x) should get all connections with user_id: x, but where(user_id: x:, connection_token: y) should only get the ones where both are true. Please do open a PR for this change with tests proving

[2015-12-11 15:50] #109 closed

[2015-12-11 15:53] dhh commented on #104
Odd. We've not seen any of these issues in production. At least that I'm aware of! And we have many tens of thousands of daily active users on Basecamp 3.

[2015-12-11 15:53] #103 closed

[2015-12-11 15:54] dhh commented on #100
Please reopen if you find a reproducible case. Thanks!

[2015-12-11 15:54] #100 closed

[2015-12-11 15:54] rushingfitness commented on #131
@dhh should I do any tutorial about this issue I also faced: https://github.com/rails/actioncable/pull/124

[2015-12-11 15:57] dhh commented on #131
Not sure I fully follow what the issue is there. Assigned to @lifo to take
a look.

On Fri, Dec 11, 2015 at 4:54 PM, Jordan Rushing <notifications@github.com>
wrote:

[2015-12-11 15:59] dhh commented on #86
@nateless If you want to disambiguate like that, I think you're going to have to pass something like a connection token. I'd be happy to see us do something like where(current_user: x).where.not(token: y). Please open a PR if you want to pursue that!

[2015-12-11 15:59] #86 closed

[2015-12-11 16:01] dhh commented on #88
That use case makes sense. I think we can make it smarter, though. Basically, tag broadcast messages with an internal identifier for the connection, and then have something like `stream_from "chat", exclude_own_messages: true`.

If you want to work on that, please open a PR!

[2015-12-11 16:01] #88 closed

[2015-12-11 16:01] mikecarroll commented on #104
It seems to be happening to us only when running locally, not in production. Our servers are Linux but we use OSX for dev, so maybe it's an OSX issue?

[2015-12-11 16:02] dhh commented on #81
Yeah, I think we need a separate message type that basically says "close this connection and don't try again". If you'd like to work on that, please open a PR.

[2015-12-11 16:02] #81 closed

[2015-12-11 16:03] dhh commented on #76
See answer in #81.

[2015-12-11 16:03] #76 closed

[2015-12-11 16:04] #77 closed

[2015-12-11 16:08] dhh commented on #72
Continuing the discussion in the PR.

[2015-12-11 16:08] #72 closed

[2015-12-11 16:09] #67 closed

[2015-12-11 16:10] #55 closed

[2015-12-11 16:10] #53 closed

[2015-12-11 16:11] dhh commented on #21
Would be great to have that Device tutorial as part of a guide explaining AC. Please do PR that.

[2015-12-11 16:11] #21 closed

[2015-12-11 16:11] dhh commented on #16
Doesn't seem like any additional progress has been made on this. So closing for now. If anyone wants to do some work exploring this, please open a PR.

[2015-12-11 16:11] #16 closed

[2015-12-11 16:12] dhh commented on #15
If anyone wants to explore this further, please open a PR.

[2015-12-11 16:12] #15 closed

[2015-12-11 16:13] javan commented on #118
Subscriptions now receive the `connected` callback when their subscription is active on the server (https://github.com/rails/actioncable/pull/98) so a better example would be adding the `page:change` handler after `connected`.

[code]

I'll take a pass at freshening up the examples.

[2015-12-11 16:16] digitalextremist commented on #16
@dhh will open a PR with existing code once completed and thoroughly tested.

[2015-12-11 16:17] gregmolnar commented on #21
@dhh do you mean to add it as a section to the readme?

[2015-12-11 16:18] nflorentin commented on #104
We are exactly in the same situation described by @mikecarroll, Linux servers in prod and OS X for dev.

[2015-12-11 16:19] dhh commented on #21
We can start with that. Actually, we can just do a link to that article even.

[2015-12-11 16:28] dhh commented on #104
Maybe we can just start by saying this is a problem on OSX in the readme for now? Don't think anyone is actually deploying on OSX. I don't know if this is really something we can solve in AC anyway?

[2015-12-11 17:13] vovimayhem commented on #134
Fair enough :)

@kayakyakr I ended up setting the file [like this](https://github.com/vovimayhem/rails-docker-demo/blob/feature/forum-functionality/config/redis/cable.yml).

Actually thats similar to [how I got it a couple months ago](https://github.com/vovimayhem/actioncable-examples/blob/f5e/docker-compose/config/redis/cable.yml)... but I forgot that yesterday.

[2015-12-11 19:08] assimovt commented on #132
@dhh thanks!

[2015-12-13 13:29] #118 closed

[2015-12-14 19:23] javan commented on #74
I believe https://github.com/rails/actioncable/pull/98 resolved this issue. `connected` is now called when the subscription is active on the server, not when the WebSocket first connects.

[2015-12-14 19:23] #74 closed

[2015-12-14 19:24] javan commented on #110
Moving discussion to #112.

[2015-12-14 19:24] #110 closed

[2015-12-17 13:07] vasspilka commented on #114
I am now working on a rails 5 api that includes websockets through actioncable, but I can't say I am much experienced so I am not sure I am suitable to start a guide on my own.

I certainly could review and extend a guide.

[2015-12-17 13:38] dhh commented on #114
Vasilis, we need some help combining the --api setup with Action Cable
generators. ACa generators should not produce the client-side code, like
app/assets/javascript/channels, when in --api mode. Could use some help
with that :D

On Thu, Dec 17, 2015 at 2:07 PM, Vasilis Spilka <notifications@github.com>
wrote:

[2015-12-17 15:52] vasspilka commented on #114
How could I help? What I did was `rake assets:precompile` on a non --api setup and then copy the static asset to `/public/js/cable.js` and made static assets available, this way I was able to access the js as an external library in the client side.

[2015-12-17 16:45] RochesterinNYC commented on #114
Is there a checklist or Trello board or something somewhere that lists out which topics still need documentation? I'd love to contribute some.

[2015-12-17 18:45] fredkelly commented on #132
Sorry to dig this back up. I'm wondering how to implement a client-side subscription using the `stream_for` method above? I want to ensure users can only subscribe to messages relating to entities owned by them.

[2015-12-17 19:59] lsylvester commented on #132
@fredkelly You need to pass in the id when you create the subscription to get the `params[:id]` available in the `subscribed` method. Something like:

[code]

[2015-12-18 21:47] davidkuhta commented on #114
I'm not sure if anyone began working on this, but I thought I'd share what I started: [action_cable_overview.md](https://github.com/davidkuhta/rails/blob/patch-1/guides/source/action_cable_overview.md).
Note: It does draws heavily from the README and code comments (as they were the guide I worked through to get started), but I restructured them in some areas. Let me know if it'd be a good starting

[2015-12-18 21:57] vasspilka commented on #114
@davidkuhta Thats great :) I will review it tomorrow it's getting kinda late here.

[2015-12-18 22:18] rafaelfranca commented on #114
This issue was moved to rails/rails#22673

[2015-12-18 22:18] #114 closed

[2015-12-18 22:25] rafaelfranca commented on #82
This issue was moved to rails/rails#22674

[2015-12-18 22:25] #82 closed

[2015-12-18 22:26] rafaelfranca commented on #64
This issue was moved to rails/rails#22675

[2015-12-18 22:26] #64 closed

[2015-12-18 22:26] rafaelfranca commented on #104
This issue was moved to rails/rails#22676

[2015-12-18 22:26] #104 closed